<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>80s Superheroes</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h1>80s Superheroes</h1>
    {{{body}}}
</div>
<script type="text/javascript" src="/js/superhero-interaction.js"></script>

</body>
</html>